
body{
    background-color: floralwhite;
    background-size: 100%;
    background-repeat: repeat-y;
    font-family: papyrus !important;
}   

@media (min-width:980px){
    body{
        background-image: url(/Users/anton/Desktop/Git-Hub/Per-Schoolas-Git/Pre-Work/picture/bacground.jpg);
        background-size: 100%;
        
    }
    

    .gridContainer{
        display: grid;
        grid-template: auto auto auto / 23.33% 46.33% 30.33%;
        grid-template-areas:
        "header header header"
        "mainContainer mainContainer mainContainer"
        "footer footer footer";
    }

    .footer{
        
        grid-area:footer;
        position: fixed;
        bottom: 50px;
        left: 0;
        margin-left: 3%;
    }
    .header{
        grid-area:header;
        text-align: center; 
    }


    .mainContainer{
       
       grid-area:mainContainer;
       display: flex;
       display: -webkit-flex;
       
    }

   .leftColumn{
      flex-basis: 23.33%;

    }

   .midColumn{
      
    
      flex-basis: 46.33%;

    }

    .rightColumn{

         flex-basis: 30.33%;
    }
    #rightColumnContainer{
        
        display:flex;
        flex-direction: column;
        
        justify-content: center;
        gap: 300px;
    }
    #tripPic{
        align-self: center;
        position:absolute;
        z-index: 0;
        filter: blur(1.25px);
        
    }
    #tripPic:hover{
        position:fixed;
        top:0;
        left:25%;
        top:25%;
        z-index: 3;
        filter: blur(0px);
        height: 600px;
        
    }
    
    
    
    #details{
        position:absolute;
        z-index: 1;
        font-weight:bolder;
        font-size: x-large;
        margin-left: 7%;
        
    }
}

@media (max-width:979px){
    body{
        background-image: url(/Users/anton/Desktop/Git-Hub/Per-Schoolas-Git/Pre-Work/picture/bacgroundVertical.jpg);
        background-size: 100%;
    }
    .container{

       display: -webkit-inline-block;
       display: inline-block;

    }
    #rightColumnContainer{
        display:flex;
        flex-direction: column;
        gap: 300px;
        
    
    }
    #tripPic{
        align-self: center;
        position:absolute;
        z-index: 1;
        
    }
    #details{
        position:absolute;
        
        
        
    }
    .footer{

        position: fixed;
        bottom: 50px;
        right: 0;
        margin-right: 3%;
    }
    .header{
        
        text-align: center; 
    }
}

  img{
    border-radius: 20px;
}
a{
    margin: 15px;
    color: rgb(103, 175, 103);
}
h1{
    text-decoration:underline;
    color:#4d5058;   
} 



h3{
    
    color:rgb(103, 175, 103);
}

h4{
    text-align: center;
    color:#4d5058;
}

p{
    font-size:large;
    color: #084492;
}

ul{
    font-style: italic;
}
table{
    text-align: center;
    width: 100%;
    margin-left:6%;
}



.travelBy{
    color:rgb(103, 175, 103);
    
}
.yellowAccent{
    color:#be8b0a;
}   
form{
    font-family: papyrus !important;
}
input{
    font-family: papyrus !important;
}
textarea{
    font-family: papyrus !important;
}   

.sugForm{
    border-radius: 5px;
    background-color: rgb(241, 240, 235);
}
.sugForm:hover{
    background-color: rgb(170, 218, 170);
}
input[type="button"]{
    border-radius: 5px;
    background-color: #be8b0a;
}
input[type="button"]:hover{
   
    background-color: rgb(103, 175, 103);


}
input[type="button"]:active{
    
    background-color: #90b9ee;

}






#rand{
    margin-top: 100px;
    font-style: italic;
}
